@font-face {
    font-family: 'Epilogue';
    src: url('../assets/fonts/Epilogue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Epilogue';
    src: url('../assets/fonts/Epilogue-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Epilogue';
    src: url('../assets/fonts/Epilogue-Bold.ttf') format('truetype');
}