@import '~normalize.css';
@import './fonts.scss';
@import './variables.scss';
@import './global.scss';
@import './common.scss';

.header {
    display: flex;
    align-items: center;   
    justify-content: space-between;
    padding: 32px 19px 32px 18px;
}

.dropdown {
    display: none;
    max-width: 140px;
    width: max-content;
    position: absolute;
    top: 35px;
    flex-direction: column;
    row-gap: 14px;
    padding: 23px 25px 20px 25px;
    border-radius: 15px;
    background-color: var(--almost-whit);
    box-shadow: 0px 8px 16px rgba(82, 91, 115, 0.14);
    &--left {
        right: 0;
    }
    &--right {
        left: 0;
    }

    &__link {
        display: flex;
        align-items: center;
        column-gap: 15px;
        color: var(--medium-gray);
        font-size: 0.85em;
        &:hover {
            color: var(--almost-black);
            transition-duration: 300ms;
        }
    }

    &__icon {
        line-height: 0;
    }
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 62px;

    &__list {
        margin-top: -4px;
        display: flex;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 2.5rem;
        }

        &--with-dropdown {
            cursor: default ;
            position: relative;
            padding-right: 15px;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;    
                width: 6px;
                height: 6px;
                border-right: 0.1em solid var(--medium-gray);
                border-bottom: 0.1em solid var(--medium-gray);
                transform: translateY(-50%) rotate(45deg);
                transition-property: transform;
                transition-duration: 250ms;
            }

            & .menu__name {
                padding-bottom: 30px;
            }

            &:hover, &:focus-within {
                color: var(--almost-black);
                & .dropdown {
                    z-index: 1;
                    display: flex;
                }
                &::after {
                    border-color: var(--almost-black);
                    transform:  translateY(-40%) rotate(225deg);
                    transition-property: transform;
                    transition-duration: 400ms;
                }
            }
        }
    }

    &__name {
        font-size: 0.91em;
    }

    &__link {
        color: var(--medium-gray);
        &:hover {
            color: var(--almost-black);
            transition-property: color;
            transition-duration: 300ms;
        }
    }
}

.auth {
    margin-top: -4px;
    display: flex;
    align-items: center;
    column-gap: 27px;
}

.main {
    width: 100%;
}

.content {
    max-width: 80%;
    margin: 2.4rem auto 4rem auto;
    background-image: url('../assets/images/image-hero-desktop.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.content-block {
    display: flex;
    flex-direction: column;
    padding: 6.4rem 0 6.8rem 0.2rem;

    &__title {
        margin-bottom: 2.7rem;
        font-size: 5em;
        font-weight: 700;
        line-height: 85px;
        color: var(--almost-black);
    }

    &__description {
        max-width: 40%;
        margin-bottom: 52px;
        font-size: 1.2em;
        line-height: 1.4em;
    }
}

.clients {
    display: flex;
    align-items: center;
    column-gap: 40px;

    &__link:hover svg path, &__link:focus svg path {
        fill: var(--medium-gray);
        transition-duration: 300ms;
    }
}